/* @import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*supaya value dari border dan padding masuk kedalam hitungan ketika kita ngeset ukuran elemen*/
}

body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: #232e35;
}

p {
    font-size: 1rem; /*16 px*/
    line-height: 1.50rem;
}

p, label, input, textarea, li {
    color: rgb(120, 120, 120);
}

a {
    text-decoration: none;
    color: rgb(53, 48, 48);

}

.main-container {
    width : 1100px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

.btn {
    padding: 1rem 1.5rem;
    margin-top: 20px;
    background: #fff;
    border: 2px solid #7892a5;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-radius: 2rem;
}

.btn:hover {
    box-shadow: 0 0 13px #7ca4c1 ;
}

/* tittles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
}
.pre-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: rgb(120, 120, 120);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 700;
    font-size: 1rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background:rgb(120, 120, 120);;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* layouts */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*untuk bagian responsive*/
    gap: 3rem;
}

/*Logo dan navigation menu*/
.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: absolute;
    background-color: #bfced9be;
    z-index: 1000; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    font-family: "Mulish", sans-serif;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 17px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: #232e35;;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    position: relative;
    color: #000; 
    text-decoration: none; 
    border-bottom: 2px solid transparent; 
    transition: color 1s, border-bottom-color 1s;
    padding-bottom: 8px;
}

nav ul li a:hover {
    border-bottom: 2px solid #568daf;
}

/* burger */
.burger div{
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

a svg:hover {
    fill: #7ca4c1;
}


.contact-icons {
    display: flex;
    align-items: center;
}

.contact-icons a {
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 0.2rem solid #7892a5;
    font-size: 1.5rem;
    border-radius: 50%;
    color: #7892a5;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    text-decoration: none;
}


.contact-icons a:hover {
    color: #fff;
    transform: scale(1.3)translateY(-5px);
    background: #7892a5;
    box-shadow: 0 0 25px #7892a5;
}

.contact-icons a:hover {
    transform: scale(1.2);
}

#btntop {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #7892a5; /* Set a background color */
    color: white    ; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 13px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#btntop:hover {
    background-color: #555;
}


/* Content */
#content {
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 45px;
}
.content-right img {
    width: 450px;
    height: 450px;
}

.content-right {
    display: flex;
    justify-content: center;
}

.name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
    /* border-right:  3px solid;
    width: 71%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(17),
        cursor .4s step-end infinite alternate; */
}

span {
    color: #9BB8CD;
}

/* @keyframes cursor {
    50% {border-right-color: transparent;}
}

@keyframes typing {
    from {width: 0}
} */

.btn-porto {
    display: inline-block;
    padding: 1rem 1rem ;
    background: #fff;
    border-radius: 4rem;
    font-size: 1.1  rem;
    color: #7892a5;
    border: 2px solid #7892a5;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.btn-porto:hover {
    transform: scale(1.03);
    background-color: #7892a5;
    color: white;
    box-shadow: 0 0 25px #7892a5;
}   

/* Skill section */
#skill {
    padding: 6rem 0;
    text-align: center; /* Center align the content */
}

.pre-title {
    font-size: 20px;
    margin-bottom: 2rem;
    color: #333; /* Change the pre-title color */
}

.card-row {
    max-width: 100%;
}

.card-column {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr); /*untuk bagian responsive*/
    gap: 3rem;
}

.card-logo {
    background-color: #fff;
    box-shadow: 0 0 13px #7ca4c1;
    padding: 16px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-logo img {
    height: 120x;
    width: 120px;
    transition: 0.3s ease-in-out;
    object-fit: cover;
}

.card-logo:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 20px #7ca4c1;
}

.card-logo:hover img {
    transform: scale(1.1);
}


/* certificate */
#certificate {
    padding: 6rem 0;
    background-color: #fbfbfb;
}

.certificate-body {
    display: grid;
    height: auto;
    align-items: center;
}

.sertifikat-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*untuk bagian responsive*/
    gap: 1rem;
}

.item-img {
    position: relative;
    transition: transform .2s linear, box-shadow .2s linear;
    top: 0!important;
    height: 240px;
}

.item-img:hover {
    transform: translateY(-4px)!important;
    -webkit-transform: translateY(-4px)!important;
}

.item-img img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.item-img:hover .item-img-overlay span {
    opacity: 2;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1)!important;
    border-radius: 5px;
    
}

.item-img-overlay span i {
    font-size: 29px;
    color: #fff !important;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    right: 0;
    text-align: center;
}

.item-img:hover .item-img-overlay:before {
    border: 2px solid #fff;
    content: "";
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    top: 30px;
    z-index: 1;
    -webkit-transform: scaleX(1);
    border-radius: 5px;
}

.item-img-overlay span {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    opacity: 0;
    transition: opacity 250ms linear;
    background: no-repeat center center rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

/* popup serti */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    max-height: 800px;
    background: rgb(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup.active .large-image,
.popup.active .arrow-btn {
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.close-btn {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    margin-top: 100px;
    cursor: pointer;
}

.arrow-btn {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
    color: #bebebe;
}

.left-arrow {
    left: 2.5rem;
}

.right-arrow {
    right: 1px;
}

.arrow-btn:hover {
    color: white;
}

.large-image {
    margin-top: 5%;
    width: 70%;
    height: 70%;
    object-fit: contain;

}


/* Project section */
#projek {
    padding: 6rem 0;
}

.wrapper {
    max-width: 90%;
}

#projek > .wrapper > .projek-card {
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    border-radius: 10px;
    display: flex;
    max-width: 80%;
}

#projek > .wrapper > div > .foto {
    width: 100%;
}

#projek > .wrapper > div > .foto > img {
    max-width: 100%;
}

#projek > .wrapper > div > .desc{
    width: 100%;
    padding: 20px;
    margin: 10px;
    background-color: #efeded;
    border-radius: 10px;
}

#projek > .wrapper > div > .desc > .link{
    display: flex;
    gap: 0.7rem;
    font-size: 1.3rem;
    padding-top: 6px;
}

#projek > .wrapper > div > .desc > .link > a > svg:hover {
    fill: #9BB8CD;
    transition: 0.5s;
}

/* Contact */
#contact {
    background-color: #fbfbfb;
    padding: 6rem 0;
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
    width: auto;
}

.contact-form div{
    margin-bottom: 1.4rem;
    background-color: white;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: #fbfbfb;
    border: 1px solid #bcb7b7;
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, 
.contact-form textarea::placeholder {
    color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    height: 30%;
    padding: 0.75rem 1.3rem;
    background-color: #86b1cb;
    color: white;
    border: none;
    background-repeat: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
}

.btn-submit:hover {
    background: #7892a5;
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: #d8e5ed;
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg:hover {
    transition: 0.5s;
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;
}

/* footer section */
footer {
    padding: 2rem;
    background: #ccdae3;
    text-align: center;
}
